<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Stream Apiを利用したじゃんけんゲーム〜3連勝を目指せ〜</h1>
    <form th:action="@{/janken2}" method="post" th:object="${jankenForm}">
        <input type="radio" th:field="*{janken}" value="0">グー
        <input type="radio" th:field="*{janken}" value="1">チョキ
        <input type="radio" th:field="*{janken}" value="2">パー
        <input type="submit">
    </form>
    <p th:text="${resultMsg}"></p>
    <p th:text="${jankenCount1}"></p>
</body>

</html>